.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: black 1px solid;
}

.divGrid {
    height: 25px;
    width: 25px;
    box-sizing:border-box;
}

.hovered {
    background-color: black;
}
