body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  width: 480px;
  height: 480px;
  border: black 1px solid;
}

.clear {
    border-radius: 5px;
}

.divGrid {
  box-sizing: border-box;
  border: black 0.1px solid;
}

.hovered {
  background-color: black;
}

.hovered1 {
  background-color: lightgray;
}

.hovered2 {
  background-color: grey;
}
.hovered3 {
  background-color: blue
}
.hovered4 {
  background-color: brown
}
